
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link href="-/content/bootstrap.css" rel="Stylesheet" />
    <script src="-/Scripts/jQuery -3.3.1.js"></script>
    <script src="-/Scripts/umd/Popper.js"></script>
    <script src="-/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-danger bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="navbar - item">
                <a class="nav-link" href="/home/index">Home</a>
            </li>
            <li class="navbar - item">
                <a class="nav-link" href="/home/Product">Product</a>
            </li>
            <li class="navbar - item">
                <a class="nav-link" href="/home/Contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><h1>Corporate Headquarters</h1></div>
            <div class="card-body">
                <p>Toll Free:@ViewBag.TollFree</p>
                <p>Email: spport@company.com</p>
            </div>
        </div>
    </div>
</body>
</html>
