<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OurCompanyProduct</title>
    <link href="-/content/bootstrap.css" rel="Stylesheet" />
    <script src="-/Scripts/jQuery -3.3.1.js"></script>
    <script src="-/Scripts/umd/Popper.js"></script>
    <script src="-/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-danger bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="navbar - item">
                <a class="nav-link" href="/home/index">Home</a>
            </li>
            <li class="navbar - item">
                <a class="nav-link" href="/home/Product">Product</a>
            </li>
            <li class="navbar - item">
                <a class="nav-link" href="/home/Contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"></div>
            <h2>Categories</h2>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">Electronics</a>
                <a href="#" class="list-group-item list-group-item-action">Home Appliances</a>
                <a href="#" class="list-group-item list-group-item-action">Fashion</a>
            </div>
        </div>


        <div class="col-md-6"></div>
        <h2>Brands</h2>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">Apple</a>
            <a href="#" class="list-group-item list-group-item-action">Samsung</a>
            <a href="#" class="list-group-item list-group-item-action">Sony</a>
        </div>
    </div>
    </div>
    </div>
</body>
</html>
